
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc

@model PagedList.IPagedList<QlySpa.Models.EF.DichVu>



<h2>Danh sách dịch vụ của SPA</h2>
<div class="form-search">
    @using (Html.BeginForm("Index", "Service", FormMethod.Get, new { }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-2">
                        <div class="">
                            <input type="date" title="Tìm Dịch vụ theo tháng" class="form-control" name="Thang" placeholder="Tìm Dịch vụ theo tháng" value="@ViewBag.Thang">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="">
                            <input type="date" title="Tìm dịch vụ theo tuần" class="form-control" name="Tuan" placeholder="Tìm dịch vụ theo tuần" value="@ViewBag.Tuan">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="">
                            <input type="text" title="Nhân Viên" class="form-control" name="CN" placeholder="Nhân Viên" value="@ViewBag.CN">
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="btn-search">
                            <button type="submit" class="btn btn-default btn-pro" title="Search" style="background-color:lightgreen;width:70px; height:38px ">
                                <i class="fa fa-search"></i>
                            </button>
                            <a href="~/Admin/Service" class="btn btn-default btn-pro" title="Reload" style=" background-color: lightgreen;width: 70px;height: 38px">
                                <i class="fas fa-sync-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<p></p>
<p>
    <a href="@Url.Action("Create", "Service")" class=" filter__page-btn" style="text-decoration: none;">
        <button style=" ">
            <i class="fa fa-plus">Thêm mới</i>
        </button>
    </a>
</p>
<table class="table">
    <tr>
        <th>
            Mã voucher
        </th>
        <th>
            Mã nhân viên thực hiện dịch vụ
        </th>
        <th>
           Mã loại dịch vụ
        </th>
        <th>
            Mã khách hàng
        </th>
        <th>
            giá
        </th>
        <th>
            Chức năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idVoucher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idLoaiDV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Service", new { id = item.MaDV })" class="filter__page-btn  " style="text-decoration:none">

                    <img src="~/Areas/Admin/Content/images/edit.png" />
                </a>
                @*<a href="@Url.Action("Details", "Service", new { id = item.MaDV })">

                <i title="Chi tiết" style="color: #4D4D4D;" fill="currentColor" class="fa fa-info-circle"></i>

                </a>*@
                <a class="btn-delete" href="@Url.Action("Delete", "Service", new { id = item.MaDV })">
                    <img src="~/Areas/Admin/Content/images/delete.png" />
                </a>
                    @*<a href="#" onclick="XoaNK('@item.MaDV')">
                        <i title="Xóa" style="color:#F08080; " class="fa fa-trash fa-x"></i>
                    </a>*@
            </td>
        </tr>
    }

</table>
@*<script>
    function XoaNK(id) {
        if (confirm("Bạn muốn xóa dịch vụ này?") == true) {
            $.post("Admin/Service/Delete", { "id": id }, function (data) {
                location.href = "/Admin/Service";
            })
        } else {

        }
    }
</script>*@
<script>
    document.querySelector('.btn-delete').onclick = function () {
        alert('Bạn có muốn xóa dịch vụ này');
    }
</script>
<ul class="pagination">
    Page @(Model.PageCount<Model.PageNumber? 0: Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, pageNum => Url.Action("Index", new { pageNum }))
</ul>
<style>
    body {
    }

    h2 {
        color: #048bcd;
        font-family: Arial;
        font-weight: bold;
    }

    img {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .table {
        width: 100%;
    }

        .table th,
        .table td {
            padding: 0.5rem;
            vertical-align: top;
            border: 1px solid #dee2e6;
            display: table-cell;
            text-align: center;
            background-color: aliceblue;
            font-family: arial, sans-serif;
        }

        .table th {
            background-color: #048bcd;
            color: aliceblue;
        }

    .pagination {
        margin-top: 10px;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 12px 18px;
            text-decoration: none;
        }

        .pagination li {
            background-color: #e9e9e9;
            border-radius: 5px;
            margin-left: 4px;
        }

        .pagination .active {
            background-color: #048bcd;
            color: white;
            border-radius: 5px;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
            border-radius: 5px;
        }
</style>
